<form class="example-form"><br>
    <table class="example-full-width" cellspacing="0"><tr>
        <label>First name</label>
      <td><input class="example-full-width"[(ngModel)]="firstName" name="first">
      </td><br>
      <span></span>
      <td>
        <label>Last Name</label>
        <input class="example-full-width" [(ngModel)]="lastName" name="last">
      </td><br>
      <span></span>
      <td>
        <label>Full Name</label>
        <input class="example-full-width" [(ngModel)]="fullName" name="full">
      </td></tr>
    </table>
  
    <p>
      <label> Present Address</label>
      <textarea class="example-full-width" [(ngModel)]="presentAddress" name="present"></textarea>
        
      <label> Permanent Address</label>
      <textarea class="example-full-width" [(ngModel)]="permanentAddress" name="permanent"></textarea>
        
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
     <label>City</label>
      <td><input class="example-full-width"  [(ngModel)]="city" name="city"></td>

      <label>State</label>
      <td><input class="example-full-width" [(ngModel)]="state" name="state"></td>

      <label>Postal Code</label>
      <td><input class="example-full-width" [(ngModel)]="postalCode" name="postal" max="999999" min="100000" pattern="[0-9]{6}" maxlength="6">  
      </td></tr>
    </table>
    <td>
      <label>Phone No</label>
      <input class="example-full-width" [(ngModel)]="phoneNo" type="number" max="9999999999" min="6000000000"  pattern="^[6-9][0-9]{9}$"name="phoneNo" (keydown)="keyPress($event)">
    </td>
    <td>
      <label>Email Address</label>
      <input class="example-full-width" [(ngModel)]="emailAddress" emailPattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email">
    </td>
    <div>
        <button mat-raised-button color="primary" (click)="AddNewEmployeeData()">Save</button>
    </div>
</form>
  