<mat-toolbar color="primary">
    <span><mat-icon>eco</mat-icon>Employee Login Portal</span>
    <span class="example-spacer"></span>
    <span>
      <button mat-button (click)="opened=!opened">Add Employee</button>
      <button mat-flat-button color="accent">Send Email</button>
    </span>
  </mat-toolbar>
 <mat-sidenav-container>
   <mat-sidenav [(opened)]="opened" mode="side">
     <button mat-list-item>
      <a routerLink="/emplyee">Add Employee Details</a>
     </button >
     <button mat-list-item>
      <a routerLink="/view-employee">View Employee Details</a>
     </button>
   </mat-sidenav>
   <mat-sidenav-content>
     <router-outlet></router-outlet>
   </mat-sidenav-content>
 </mat-sidenav-container>
